body {
    background: linear-gradient(45deg, rgb(13, 112, 13), rgb(130, 58, 30), rgb(255, 255, 0), #000000);
    background-size: 5% 1.5em;
    background-position: 5%;
}

p {
    text-shadow: 2em 2em 0.5em hsl(60, 59%, 41%);
}

/*CAUSING CHAOS*/
#chaos {
    float: right;
    border: dotted;
    border: double #00008b;
    color: #97970e;
    padding: 5em;
    background-color: #97970e;
}

#mustcrochet {
    float: left;
}

div {
    float: left;
    background: linear-gradient(45deg, rgb(13, 112, 13), rgb(130, 58, 30), rgb(255, 255, 0), #000000);
    background-size: 5%;
    color: hsl(60, 84%, 34%);
    margin: 18.75em;
    border-radius: 1.875em 0 3.125em 0.625em;
    box-shadow: 0.625em 0.625em 1.25em #000;
    text-shadow: 0.125em 0.125em 0 #ff0000, -0.125em -0.125em 0 #ddff00;
    word-spacing: 1.25em;
    line-height: 0.6;
}

/*CAUSING CHAOS*/
#img1 {
    height: 40em;
    width: auto;
    padding: 5em;
    background-color: rgb(106, 13, 13);
    border-radius: 20%;
    border-style: groove;
}

#page {
    border: 0.05em double rgb(117, 103, 247);
    border-radius: 10%;
    padding: 0.5em;
}

#img2 {
    height: 20em;
    width: auto;
}

#dark {
    height: 60em;
    width: auto;
}

ol {
    float: right;
}

#two {
    float: left;
    size: 10em;
    color: #ff0000;
}

h1 :hover {
    font-size: 12em;
    font-weight: 900;
    text-shadow: 5rem 0.5rem 1rem rgb(0, 0, 0) !important;
}

/*CAUSING CHAOS*/
h1 :active {
    color: rgb(160, 237, 7);
}

.star {
    color: #ff0000;
    font-size: 15em;
}

/*This is styling for the flexbox navigation menu*/

#nav_menu {
    border-top: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu ul li {
    margin: 0 1.5em;
}

#nav_menu ul li a {
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #12129a;
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgb(23, 181, 224);
}

/* For Smaller Screens */
@media only screen and (max-width: 550px) {
    #nav_menu ul {
        flex-direction: column;
        gap: 0.5em;
    }
}