/*Type Selector Formatting*/

/*Background color for continuity across pages*/
body {
    background: linear-gradient(135deg,
            rgba(160, 215, 255, 0.567),
            rgba(96, 255, 202, 0.1));
}

footer {
    margin-top: 2em;
}

h1 {
    font-size: 3em;
    font-variant: small-caps !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3,
p {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-variant: none !important;
}

h3 {
    font-size: 1.3em;
}

h2 {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 1.5em;
}

section {
    float: left;
    margin-left: 2em !important;
    width: 50%;
}

li {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 1.1em;
    font-weight: 200;
}

/*ID Selector Formatting*/

#page {
    border: 0.05em double rgb(117, 103, 247);
    border-radius: 10%;
    padding: 0.5em;
}

#pic {
    width: 40%;
    min-width: 15em;
    float: left;
}

#title {
    font-size: 1.5em;
    font-variant: small-caps;
}

#tutorial:hover {
    color: rgb(25, 174, 197);
}

#link {
    clear: both;
    padding: 2em;
}

/*Class Selector Formatting*/

.draw {
    padding: 0.5em;
}

/*This is styling for the flexbox navigation menu*/

#nav_menu {
    border-top: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu ul li {
    margin: 0 1.5em;
}

#nav_menu ul li a {
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #12129a;
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgb(23, 181, 224);
}

/* For Smaller Screens */
@media only screen and (max-width: 550px) {
    #nav_menu ul {
        flex-direction: column;
        gap: 0.5em;
    }
}

/* The next 3 media queries are for formatting the picture and text on this page, since they were really wierd looking*/

@media only screen and (max-width: 1400px) {
    section {
        width: 35em;


    }
}

@media only screen and (max-width: 1000px) {
    section {
        width: 25em;
    }
}

@media only screen and (max-width: 740px) {
    section {
        width: auto;
    }

    #pic {
        width: 70%;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #title {
        clear: both;
        padding-top: 1em;
    }
}