/*Type Selector Formatting*/

/*Background color for continuity across pages*/
body {
    background: linear-gradient(135deg,
            rgba(160, 215, 255, 0.567),
            rgba(96, 255, 202, 0.1));
}

main {
    margin-left: 3em;
    margin-right: 3em;
}

footer {
    margin-top: 2em;
}


p {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 1.1em;
    font-weight: 200;
}

header {
    font-variant: small-caps;
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h2 a {
    color: #12129a;
}

h2 :hover {
    color: rgb(23, 181, 224);
}

/*ID Selector Formatting*/

#page {
    border: 0.05em double rgb(117, 103, 247);
    border-radius: 10%;
    padding: 0.5em;
}

#title {
    font-size: 2em;
    font-variant: small-caps !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*This is the code for the index.html link flex box*/

.columns-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex-basis: 25%;
    min-width: 150px;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f8f8f8;

    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: inherit;
}

/* Hover effect */
.col:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.col h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}


/*This is styling for the flexbox navigation menu*/

#nav_menu {
    border-top: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    width: 100%;

}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu ul li {
    margin: 0 1.5em;
}

#nav_menu ul li a {
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #12129a;
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgb(23, 181, 224);
}

/* For Smaller Screens */
@media only screen and (max-width: 550px) {
    #nav_menu ul {
        flex-direction: column;
        gap: 0.5em;
    }
}

@media only screen and (max-width: 912px) {
    .columns-wrapper {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .col {
        flex-basis: 100%;
        min-width: 150px;
        /* ensures columns don’t shrink too small */
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 6px;
        background: #f8f8f8;
    }
}

@media only screen and (max-width: 650px) {
    main {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

}