/*Type Selector Formatting*/

/*Background color for continuity across pages*/
body {
    background: linear-gradient(135deg,
            rgba(160, 215, 255, 0.567),
            rgba(96, 255, 202, 0.1));
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 3em;
    margin-right: 3em;
}

footer {
    margin-top: 2em;
}

h1 {
    font-size: 3em;
    font-variant: small-caps !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

p {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}

ol {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 1.1em;
    font-weight: 200;
}

li {
    margin: 0.25em 0;
}

section {
    margin-right: 2em;
}

footer {
    font-family: 'Times New Roman', Times, serif;
}

img {
    float: left;
    padding-right: 4em;
    width: 25em;
}

/*ID Selector Formatting*/

#page {
    border: 0.05em double rgb(117, 103, 247);
    border-radius: 10%;
    padding: 0.5em;
}

#break {
    clear: both;
    padding-top: 2em;
}

#up {
    font-family: 'Times New Roman', Times, serif;
}

#bolder {
    font-size: 1.25em;
}

#back {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 18px;
    background: #21a8c6;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Times New Roman', Times, serif;
}

#back:hover {
    background: #3f6df2;
}

/*Class Selector Formatting*/

.video {
    color: #12129a;
}

.video a:hover {
    color: rgb(23, 181, 224);
}

.video a:visited {
    color: #12129a;
}


/*This is styling for the flexbox navigation menu*/

#nav_menu {
    border-top: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu ul li {
    margin: 0 1.5em;
}

#nav_menu ul li a {
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #12129a;
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgb(23, 181, 224);
}

/* For Smaller Screens */
@media only screen and (max-width: 550px) {
    #nav_menu ul {
        flex-direction: column;
        gap: 0.5em;
    }
}

@media only screen and (max-width: 650px) {
    img {
        width: 70%;
        min-width: 10em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    h2 {
        padding-top: 0em;
    }

    main {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

}

@media only screen and (max-width: 1210px) {
    img {
        width: 50%;
    }
}

@media only screen and (max-width: 1107px) {
    h2 {
        clear: both;
        padding-top: 2em;
    }

    img {
        width: 25em;
    }
}

@media only screen and (max-width: 730px) {
    img {
        width: 70%;
        min-width: 10em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    h2 {
        padding-top: 0em;
    }

    section {
        clear: both;
    }
}