body {
    background: linear-gradient(135deg,
            rgba(160, 215, 255, 0.567),
            rgba(96, 255, 202, 0.1));
}

h1 {
    padding-bottom: 1em;
    font-size: 3em;
    font-variant: small-caps !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Grid layout for images*/

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1em;
    width: 100%;
    max-width: 61em;
    box-sizing: border-box;
    grid-template-areas:
        "fir fir sec"
        "thi thi fou"
        "fif six six"
    ;
}

section div {
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.625em;
}

/* make sure all images fit their cells */
section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5em;
}

/*Adjusting size of individual pictures in grid*/


#fir {
    width: 40em;
    grid-area: fir;
}

#sec {
    width: 20em;
    grid-area: sec;
}

#thi {
    width: auto;
    grid-area: thi;
}

#fou {
    width: 20em;
    grid-area: fou;
}

#fif {
    width: 20em;
    grid-area: fif;
}

#six {
    width: 40em;
    grid-area: six;
}



img {
    border: double;
    border-bottom: double !important;
    margin-left: 4em;
    margin-bottom: 3em;
}

p {
    margin: 2em;
}

main {
    column-count: 2;
    column-rule: 0.2em dotted;
    overflow: hidden;
    float: left;
}

#photo {
    width: 65%;
    min-width: 15em;
    height: auto;
    float: left;
    border-radius: 0.5em;
}

#page {
    border: 0.05em double rgb(117, 103, 247);
    border-radius: 10%;
    padding: 0.5em;
}

#top {
    clear: both;
    padding: 5em;
}

.text {
    float: left;
}

/*This is styling for the flexbox navigation menu*/

#nav_menu {
    border-top: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu ul li {
    margin: 0 1.5em;
}

#nav_menu ul li a {
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #12129a;
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgb(23, 181, 224);
}

/* For Smaller Screens */
@media only screen and (max-width: 550px) {
    #nav_menu ul {
        flex-direction: column;
        gap: 0.5em;
    }
}

@media only screen and (max-width: 515px) {
    .text {
        float: left !important;
    }

    #photo {
        width: 60% !important;
    }

    section img {
        margin: none;
        padding: none;
    }
}


@media only screen and (max-width: 1025px) {
    main {
        column-count: auto;
        float: left;
    }

    #photo {
        width: 30%;
        float: left;
        margin-right: 2em;
        margin-bottom: 1em;
    }

    .text {
        float: none;
    }
}

/*stopping grid layout and making photos centered*/

@media screen and (max-width: 700px) {
    section {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center;
        margin: 0 auto;
    }

    section div {
        width: 100% !important;
        margin: 0 auto 1em auto;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section img {
        width: 90%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5em;
        display: block;
        margin: 0 auto;
    }
}
