body {
    background: linear-gradient(135deg,
            rgba(160, 215, 255, 0.567),
            rgba(96, 255, 202, 0.1));
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 2em;
}

h1 {
    font-size: 3em;
    font-variant: small-caps !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    padding-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

section {
    margin-right: 2em;
}

#page {
    border: 0.05em double rgb(117, 103, 247);
    border-radius: 10%;
    padding: 0.5em;
}

#break {
    clear: both;
    padding-top: 2em;
}

#up {
    font-family: 'Times New Roman', Times, serif;
}

#bolder {
    font-size: 1.25em;
}

.video {
    color: #12129a;
}

.video a:hover {
    color: rgb(23, 181, 224);
}

.video a:visited {
    color: #12129a;
}

footer {
    font-family: 'Times New Roman', Times, serif;
}

img {
    float: left;
    padding-right: 2em;
}

/*This is styling for the flexbox navigation menu*/

#nav_menu {
    border-top: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu ul li {
    margin: 0 1.5em;
}

#nav_menu ul li a {
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #12129a;
    text-decoration: none;
}

#nav_menu ul li a:hover {
    color: rgb(23, 181, 224);
}

/* For Smaller Screens */
@media only screen and (max-width: 550px) {
    #nav_menu ul {
        flex-direction: column;
        gap: 0.5em;
    }
}

@media only screen and (max-width: 650px) {
    img {
        width: 70%;
        min-width: 10em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    h2 {
        padding: none;
    }

}

@media only screen and (max-width: 965px) {
    h2 {
        clear: both;
    }
}